/*----------------------------------------------------------------*/
/*  ABOUT CONTENT
/*----------------------------------------------------------------*/

.about-content {
  overflow: hidden;
  color: #fff;
  font-size: 90%;
  line-height: 170%;
  background-image: url($image-path + "ICE_9427.jpg");
  background-position: center top;
  font-family: $font-family-condensed-light;
  .about-content-inner{
    background: rgba(0, 0, 0, 0.7);
    .content {
      padding: 0 10%;
    }
  }
}

