/*----------------------------------------------------------------*/
/*  ARTISTS
/*----------------------------------------------------------------*/
.artist-filter {
  padding: 2.5% 0;
  height: 20%;
  position: relative;
  display: inline-block;
  li {
    font-size: 2.0rem;
    font-family: $font-family-condensed-light;
    text-transform: lowercase;
    display: inline-block;
    padding: 0 1rem 0 0;
    a {
      color: #9d9d9d;
    }
    &.selected {
      a {
        color: black;
      }
    }
  }
}

.artist-filter-type {
  padding: 2.5% 0;
  height: 20%;
  position: relative;
  display: inline-block;
  float: right;
  font-family: $font-family-condensed-light;
  font-size: 1.5rem;
  color: #9d9d9d;
  span {
    color: #000000;
  }
}