/*----------------------------------------------------------------*/
/*  Colors
/*----------------------------------------------------------------*/

// Black text
.black-fg,
.black-text {
    color: rgba(0, 0, 0, 0.87);
}

// White text
.white-fg,
.white-text {
    color: rgb(255, 255, 255);
}

.white-bd {
    border-color: rgb(255, 255, 255);
}