/*----------------------------------------------------------------*/
/*  MODEL IMAGE POP OVER
/*----------------------------------------------------------------*/
.model-info {
  float: left;
  width: 59.95%;
  text-transform: lowercase;
  .model-detail-label {
    text-transform: lowercase;
    display: inline-block;
    width: 5rem;
  }
}
#model-image-popover-grid, #model-image-popover-info {
  position: absolute;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  background: rgba(255,255,255,0.85);
}
#model-image-popover {
  position: absolute;
  display: none;
  z-index: 28;
  font-family: $font-family-condensed-light;
  .model-info {
    position: relative;
    float: none;
    width: 100%;
    letter-spacing: 0;
    .model-info-header {
      padding: 0.25rem 0 0.5rem 0;
    }
    .model-info-col-1 {
      position: relative;
      float: left;
      margin-right: 5%;
      min-width: 180px;
    }
    .model-info-col-2 {
      float: left;
      min-width: 180px;
    }
    .model-info-col-1, .model-info-col-2 {
      width: 50%;
      margin: 0;
      min-width: 50%;
    }
    .model-info-detail {
      line-height: 200%;
    }
    .model-detail-label {
      width: 3rem;
    }
    .model-detail-value {
      display: block;
      vertical-align: top;
    }
  }

  .model-info-inner {
    width: 100%;
    font-size: 1.2rem;
    padding: 0.75em;
  }

  .grid-model-image-popover-column {
    float: left;
    width: 50%;
    margin-top: 2.5%;
    .grid-item {
      width: 95%;
      padding: 0;
    }
  }
}
.model-image-popover-shadow-mask-1 {
  position: absolute;
  background-color: white;
  top: 0;
  width: 8px;
  height: 100%;
}
.model-image-popover-shadow-mask-2 {
  position: absolute;
  background-color: white;
  bottom: -10px;
  width: 8px;
  height: 20px;
}
.model-on-left {
  .model-image-popover-shadow-mask-1 {
    left: -8px;
  }
  .model-image-popover-shadow-mask-2 {
    left: -8px;
  }
}
@media screen and (min-width: 1401px) {
  .model-image-popover {
    width: 42%;
  }
}