/*----------------------------------------------------------------*/
/*  PARALLAX
/*----------------------------------------------------------------*/
.parallax {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.parallax-spacer {
  min-height: 600px;
  height: 90%;
}