/*----------------------------------------------------------------*/
/*  Typegraphy
/*----------------------------------------------------------------*/
html {
    font-size: $font-size-root;
    font-family: $font-family-body;
    line-height: 1.4;
    letter-spacing: -0.1px;
}

body {
    font-size: $font-size-base;
    font-weight: 400;
    letter-spacing: 1px;
    -webkit-font-smoothing:antialiased;
    color: black;
    line-height: 160%;
}

html, body {
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
}

form {
    font-size: 1.6rem;
}

// Headings
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: normal;
}

h1, .h1 {
    font-size: $h1;
}

h2, .h2 {
    font-size: $h2;
}

h3, .h3 {
    font-size: $h3;
}

h4, .h4 {
    font-size: $h4;
}

h5, .h5 {
    font-size: $h5;
}

h6, .h6 {
    font-size: $h6;
}

// Links
a {
    text-decoration: none;

    &:hover, &:active {
        text-decoration: underline;
    }
}

hr {
    box-sizing: content-box;
    height: 0;
}

u {
    font-size: 200%;
    line-height: 100%;
    text-decoration: none;
}

// Text format helpers
.text-italic {
    font-style: italic;
}

.text-semibold {
    font-weight: 600;
}

.text-bold, strong {
    font-weight: 700;
}

.text-strike {
    text-decoration: line-through;
}

.text-super {
    vertical-align: super;
}

.text-sub {
    vertical-align: sub;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-uppercase {
    text-transform: uppercase;
}

// Text align helpers
.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

// Truncate
.text-truncate {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// Nowrap
.text-nowrap {
    white-space: nowrap;
}

.gobyArtIcon {
    font-family: gobyArtIcon;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}