
/*----------------------------------------------------------------*/
/*  Variables
/*----------------------------------------------------------------*/
$slick-font-path: "../fonts/";
$slick-loader-path: "../images/";

$font-path : '../fonts/';
$image-path : '../images/';

// Typography
$font-family-body:  'RobotoCondense-Regular', 'Helvetica Neue', 'Arial', sans-serif;
$font-family-condensed: 'RobotoCondensed-Regular','Roboto-Regular', 'Helvetica Neue', 'Arial', sans-serif;
$font-family-condensed-light: 'RobotoCondensed-Light','Roboto-Light', 'Helvetica Neue', 'Arial', sans-serif;
$font-family-condensed-italic-light: 'RobotoCondensed-Light','Roboto-Light', 'Helvetica Neue', 'Arial', sans-serif;
$font-family-thin: 'Roboto-Thin', 'Helvetica Neue', 'Arial', sans-serif;
$font-family-light: 'Roboto-Light', 'Helvetica Neue', 'Arial', sans-serif;
$font-family-code: 'Monaco', 'Menlo', 'Consolas', 'Ubuntu Mono', monospace;

$font-size-root: 65%;
$font-size-base: 1.3rem;

$h1: 2.4rem;
$h2: 2.0rem;
$h3: 1.6rem;
$h4: 1.4rem;
$h5: 1.3rem;
$h6: 1.2rem;